<!-- This page is for items related to myself, resume and contacting me fun -->

<div class="container">
    <section class="imgContainer">
      <img src="images/Spencer White edited (3).jpg" alt="A picture of Spencer White" id="personalImage">
    <span class="rowSpan"> <span class="infoSpan">Name: Spencer White</span> <span class="infoSpan"> Location: Detroit, MI</span> <span class="infoSpan"> Age: 24</span></span>
    </section>

    <section class="aboutContent">
      <h1 id="aboutHeader">Bio:</h1>
      <p>I am a web developer who is passionate about creating impactful and beautiful products that improve our world. I love working on the functionality of a website, collaborating on difficult problems and learning new technologies.</p>
    </section>
</div>
