<!-- This page is for items related to my portfolio of work Design and Art me fun  -->

<div class="container portfolio">
  <h1 id="portfolioHeader">Selected Works</h1>

  <div class="workContainer">
    <a href="https://medminderapp.herokuapp.com/" target="_blank"><img src="images/medminder.PNG" alt="Medinder Application" class="worksImage"></a>
    <p>Project: Medminder Application</p>
    <p>Stack: PostgreSQL | Express | AngularJS | NodeJS</p>
  </div>

  <div class="workContainer">
    <a href="https://swhite215.github.io/Grand-Circus-Theater-Application/" target="_blank"><img src="images/marquee.PNG" alt="A theater project." class="worksImage"></a>
    <p>Project: Seating Application</p>
    <p>Stack: jQuery | HTML5 | CSS3</p>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Reddit-and-GitHub-API/" target="_blank"><img src="images/gitApi.PNG" alt="A API project" class="worksImage"></a>
    <p>Project: Reddit and Github API's</p>
    <p>Stack: jQuery | HTML5 | CSS3</p>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/CSS-Responsive-Website/" target="_blank"><img src="images/responsive.PNG" alt="A responsive webpage project" class="worksImage"></a>
    <p>Project: Responsive Website</p>
    <p>Stack: HTML5 | CSS3 | W3.CSS</p>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Angular-To-Do-List-Application/" target="_blank"><img src="images/taskList.PNG" alt="A To-Do List Project" class="worksImage"></a>
    <p>Project: Angular To-Do List</p>
    <p>Stack: AngularJS | HTML5 | CSS3</p>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Cute-Animal-Angular-API/" target="_blank"><img src="images/cutie.PNG" alt="A API project with Angular" class="worksImage"></a>
    <p>Project: Responsive Animal Display</p>
    <p>Stack: AngularJS | Bootstrap | HTML5 | CSS3</p>
  </div>

  <div class="workContainer">
    <a href="http://codepen.io/Swhite215/full/zZLJJj/" target="_blank"><img src="images/finalfantasy1tribute.PNG" alt="An HTML and CSS Project" class="worksImage"></a>
    <p>Project: Final Fantasy I Fan Project</p>
    <p>Stack: HTML5 | CSS3 </p>
  </div>

  <div class="workContainer">
    <a href="http://codepen.io/Swhite215/full/peOeaN/" target="_blank"><img src="images/finalfantasy7tribute.PNG" alt="An HTML and CSS Project" class="worksImage"></a>
    <p>Project: Final Fantasy VII Fan Project</p>
    <p>Stack: HTML5 | CSS3/SASS </p>
  </div>

  <div class="workContainer">
    <a href="http://codepen.io/Swhite215/full/aJRbgB/" target="_blank"><img src="images/finalfantasy8tribute.PNG" alt="An HTML and CSS Project" class="worksImage"></a>
    <p>Project: Final Fantasy VIII Fan Project</p>
    <p>Stack: HTML5 | CSS3/SASS </p>
  </div>


</div>
