<!-- This page is for items related to my portfolio of work Design and Art me fun  -->

<div class="container portfolio">
  <h1 id="portfolioHeader">Selected Works</h1>

  <div class="workContainer">
    <a href="https://swhite215.github.io/Full-Stack-Shopping-Cart/" target="_blank"><img src="images/fssc.PNG" alt="A Three.JS Framework Project" class="worksImage"></a>
  </div>

  <div class="workContainer">
    <a href="https://swhite215.github.io/Grand-Circus-Theater-Application/" target="_blank"><img src="images/marquee.PNG" alt="A theater project." class="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Reddit-and-GitHub-API/" target="_blank"><img src="images/gitApi.PNG" alt="A API project" class="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/CSS-Responsive-Website/" target="_blank"><img src="images/responsive.PNG" alt="A responsive webpage project" class="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Angular-To-Do-List-Application/" target="_blank"><img src="images/taskList.PNG" alt="A To-Do List Project" class="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Cute-Animal-Angular-API/" target="_blank"><img src="images/cutie.PNG" alt="A API project with Angular" class="worksImage"></a>
  </div>

  <div class="workContainer">
    <a href="http://codepen.io/Swhite215/full/zZLJJj/" target="_blank"><img src="images/finalfantasy1tribute.PNG" alt="An HTML and CSS Project" class="worksImage"></a>
  </div>


</div>
